{% extends '::base.html.twig' %}

{% block body %}
<div class="starter-template">
    <h1>Projet squelette</h1>
    <p class="lead">Ceci est un projet squelette avec Twitter bootstrap.</p>
    <p><img src="{{ asset('bundles/enidemo/images/elephant.png') }}" /></p>
</div>
{% endblock %}
