{% extends '::base.html.twig' %}

{% block body %}
<div class="starter-template">
    <h1>Sécuriser une application avec Symfony</h1>
    <p class="lead">
        <a href="{{ path('admin') }}">Cliquez ici</a> pour accéder à une zone sécurisée.<br />
        Vous devrez vous authentifier avec l'identifiant <strong>admin</strong>
        et le mot de passe <strong>pass</strong>.
    </p>
</div>
{% endblock %}
